.mySlides {
    display: none;
}
.w3-display-container img {
    width: 100%; /* Make sure the images take up the full width */
}
.sticky {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it is on top of other content */
}
.typing-container {
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    z-index: 1;
}

#typing-text {
    color: #19333a;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    border-right: 2px solid #000000;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px #000000 solid;
    animation: blink 1s step-end infinite;
}
.tab{
    animation-duration: 1.5s;
}

@keyframes blink { 50% { border-color:#fff ; }  }

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.w3-card > header{
    text-align: center;
}

img {
    width: 100%;
}
#problem {
    color:#fff!important;
    background: rgb(68,68,68)!important;
    background: linear-gradient(90deg, rgba(68,68,68,1) 18%, rgba(71,14,2,1) 76%)!important;
}

.accordion {
    width: 95vw;
    height: 70vh;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    display: flex;

}



.accordion-item {
    flex: 1;
    transition: flex 0.3s ease;
    background-color: #ccc;
    border-right: 1px solid #fff;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column;
    

}

.accordion-item:hover {
    flex: 2;
}

#zurich {
    background-image: 
    linear-gradient(rgba(255,255,255,0.5), 
    rgba(255,255,255,0.5)), url("../images/accordion/zurich.jpeg");
}
#mexico {
    background-image: 
    linear-gradient(rgba(255,255,255,0.5), 
    rgba(255,255,255,0.5)), url("../images/accordion/mexico.jpeg");
}

#zurichlink {
    width: auto;margin: 0 auto;
    ;
}
.spacer{
    flex: 1;
}